@use "./game/game.scss";
@use "./game/menu.scss";
@use "./game/mobile.scss";
#game-canvas{
    pointer-events: none;
    
}
* p{
    user-select: none;
    pointer-events: none;
}
* button{
    user-select: none;
}